<h1>TravelerPlans#edit</h1>
<p>Find me in app/views/traveler_plans/edit.html.erb</p>
<h1>Editing Plan (step <%= @traveler_plan.current_step + 1 %>)</h1>

<%= render 'form' %>

<%= link_to 'Show', @traveler_plan %> |
<%= link_to 'Back', traveler_plans_path %>
