<% mod ||= nil %>
<% if mod %>
  <% if !signed_in? %>
    <div class="clear"></div>
  <% else %>
    <%= render "/layouts/#{mod}_navigation" %>
  <% end %>
<% else %>
  <div class="clearfix"></div>
<% end %>
